table,td,th{
    margin: auto;
    border: 1px black solid;
    border-collapse: collapse;
}
/* margin auto is used to put everything on center*/

th,td{
    padding: 5px;
}
th{
    background-color: grey;
}
